Converter File Curicullum to Google Slides/Converter File to Google Slides.json
{
  "name": "Excel to AI Slides - IMPROVED",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Excel to Slides Converter",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Excel Kurikulum",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [-1800, 300],
      "id": "form_trigger",
      "name": "Form Upload",
      "webhookId": "excel-slides-converter"
    },
    {
      "parameters": {
        "binaryPropertyName": "Upload_Excel_Kurikulum",
        "options": {}
      },
      "id": "parse_excel",
      "name": "Parse Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [-1600, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rows = items.map(item => item.json);\n\nfunction cleanText(text) {\n  if (!text) return '';\n  return String(text).replace(/\\r\\n/g, '\\n').replace(/\\s+/g, ' ').trim();\n}\n\nfunction extractListItems(text) {\n  if (!text) return [];\n  const items = String(text)\n    .split(/[•●○◦■▪▸►☞]\\s*|\\n\\s*\\d+\\.\\s*|\\n-\\s+/)\n    .map(item => cleanText(item))\n    .filter(item => item.length > 5);\n  return [...new Set(items)];\n}\n\nfunction extractModuleNumber(text) {\n  if (!text) return null;\n  const patterns = [\n    /modul\\s*[:#-]?\\s*(\\d+)/i,\n    /^(\\d+)[.:\\s]/,\n    /pertemuan\\s*(\\d+)/i\n  ];\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (match) return match[1];\n  }\n  return null;\n}\n\nif (!rows || rows.length === 0) {\n  throw new Error('Excel file is empty');\n}\n\nconst moduleMap = {};\nlet fallbackNum = 1;\n\nrows.forEach((row) => {\n  const judulModul = cleanText(row['Judul Modul'] || '');\n  if (!judulModul) return;\n  \n  let modulNum = extractModuleNumber(judulModul) || `fb_${fallbackNum++}`;\n  \n  if (!moduleMap[modulNum]) {\n    moduleMap[modulNum] = {\n      moduleNumber: modulNum,\n      module_title: judulModul.split(/estimasi|waktu:/i)[0].trim(),\n      tujuan_pembelajaran: [],\n      topik_utama: [],\n      aktivitas_praktis: []\n    };\n  }\n  \n  const tujuan = extractListItems(row['Tujuan Pembelajaran'] || '');\n  const topik = extractListItems(row['Topik Utama'] || '');\n  const aktivitas = extractListItems(row['Aktivitas Praktis/Penilaian'] || '');\n  \n  moduleMap[modulNum].tujuan_pembelajaran.push(...tujuan);\n  moduleMap[modulNum].topik_utama.push(...topik);\n  moduleMap[modulNum].aktivitas_praktis.push(...aktivitas);\n});\n\nconst modules = Object.values(moduleMap).map(m => {\n  m.tujuan_pembelajaran = [...new Set(m.tujuan_pembelajaran)];\n  m.topik_utama = [...new Set(m.topik_utama)];\n  m.aktivitas_praktis = [...new Set(m.aktivitas_praktis)];\n  m.is_valid = m.tujuan_pembelajaran.length > 0 && m.topik_utama.length > 0;\n  return m;\n}).filter(m => m.is_valid);\n\nif (modules.length === 0) {\n  throw new Error('No valid modules found');\n}\n\nconsole.log(`Found ${modules.length} valid modules`);\nreturn modules.map(m => ({ json: m }));"
      },
      "id": "group_modules",
      "name": "Group Modules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1400, 300]
    },
    {
      "parameters": {},
      "id": "loop_modules",
      "name": "Loop Modules",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1200, 300]
    },
    {
      "parameters": {
        "jsCode": "const m = $input.first().json;\n\nfunction toBullets(items) {\n  if (!items || items.length === 0) return '(Tidak ada data)';\n  return items.map(i => `• ${i}`).join('\\n');\n}\n\nconst prompt = `# BRIEF MODUL\\n\\nJudul: ${m.module_title}\\nModul: ${m.moduleNumber}\\n\\n## Tujuan Pembelajaran\\n${toBullets(m.tujuan_pembelajaran)}\\n\\n## Topik Utama\\n${toBullets(m.topik_utama)}\\n\\n## Aktivitas\\n${toBullets(m.aktivitas_praktis)}\\n\\nBuat 15-25 slide presentasi yang engaging sesuai struktur di system prompt.`;\n\nreturn [{ json: { ...m, prompt } }];"
      },
      "id": "build_prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Kamu adalah AI pembuat slide pembelajaran SMKDEV.\n\nSTRUKTUR WAJIB:\n0. COVER (title + subtitle singkat)\n1. PROFILE MENTOR (placeholder)\n2. TUJUAN PEMBELAJARAN (3-5 bullets)\n3-X. KONTEN (untuk setiap topik: Header → Konsep → Detail 2-3 slides)\nY. YUK DISKUSI (setiap 2-3 topik)\nZ-1. MINI PROJECT INSTRUKSI\nZ. MINI PROJECT OUTPUT (terpisah!)\nZ+1. RUBRIK PENILAIAN\nZ+2. CHECKLIST\nZ+3. REFERENSI\nZ+4. PENUTUP\n\n=== ATURAN KONTEN (PENTING!) ===\n\n1. PANJANG BODY:\n   - Slide COVER: Maksimal 80 karakter\n   - Slide HEADER/JUDUL: Maksimal 120 karakter\n   - Slide KONTEN: 200-400 karakter (TIDAK BOLEH LEBIH!)\n   - Jika konten terlalu panjang, SPLIT jadi 2 slides\n\n2. FORMAT TEXT (CRITICAL!):\n   - JANGAN gunakan markdown syntax: ** __ ``` #\n   - JANGAN gunakan bold/italic markers\n   - Gunakan PLAIN TEXT saja\n   - Contoh SALAH: **Tema:** 'Etika AI'\n   - Contoh BENAR: Tema: Etika AI\n\n3. BULLET POINTS:\n   - SELALU gunakan simbol • (bullet)\n   - JANGAN gunakan: -, *, 1., a., dll\n   - Format: • [spasi] teks\n   - Maksimal 5 bullets per slide\n\n4. LINE BREAKS:\n   - Gunakan \\n untuk pemisah paragraf\n   - Gunakan \\n\\n untuk spasi antar section\n   - Jangan berlebihan (max 2 line breaks berturut-turut)\n\n5. TONE & BAHASA:\n   - Kasual: Yuk, Ayo, Kamu, Kita\n   - Hindari jargon tanpa penjelasan\n   - Kalimat pendek dan jelas\n\n=== CONTOH OUTPUT YANG BENAR ===\n\nSlide Cover:\n{\n  \"title\": \"Fondasi Riset Berbasis AI\",\n  \"body\": \"Membangun Konteks dengan NoteBookLM\",\n  \"image_suggestion\": \"Modern AI research illustration\"\n}\n\nSlide Konten:\n{\n  \"title\": \"Kapan Pakai ChatGPT vs NoteBookLM?\",\n  \"body\": \"Gunakan ChatGPT untuk:\\n• Brainstorming ide awal yang luas\\n• Mencari kata kunci riset\\n• Membuat draf kasar\\n\\nGunakan NoteBookLM untuk:\\n• Menganalisis dokumen spesifik\\n• Riset mendalam dengan sitasi\\n• Verifikasi sumber terpercaya\",\n  \"image_suggestion\": \"Comparison diagram ChatGPT vs NoteBookLM\"\n}\n\n=== OUTPUT FORMAT ===\n\nKembalikan HANYA JSON tanpa backticks:\n{\n  \"slides\": [\n    {\n      \"slideNumber\": 0,\n      \"title\": \"string (max 100 chars)\",\n      \"body\": \"string (200-400 chars, plain text, no markdown)\",\n      \"image_suggestion\": \"string (max 150 chars)\"\n    }\n  ]\n}"
        }
      },
      "id": "ai_generate",
      "name": "AI Generate Slides",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [-800, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "gemini_model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-800, 480],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"slides\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"slideNumber\":{\"type\":\"number\"},\"title\":{\"type\":\"string\"},\"body\":{\"type\":\"string\"},\"image_suggestion\":{\"type\":\"string\"}}}}}}"
      },
      "id": "output_parser",
      "name": "Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-620, 480]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const aiOutput = $input.first().json.output;\n  const loopItem = $('Loop Modules').item.json;\n  \n  let slides = [];\n  \n  if (typeof aiOutput === 'object' && aiOutput.slides) {\n    slides = aiOutput.slides;\n  } else if (typeof aiOutput === 'string') {\n    try {\n      const cleaned = aiOutput.replace(/```json/g, '').replace(/```/g, '').trim();\n      slides = JSON.parse(cleaned).slides || [];\n    } catch (e) {\n      slides = [{\n        slideNumber: 0,\n        title: `Error: ${loopItem.module_title}`,\n        body: `Failed to parse AI output: ${e.message}`,\n        image_suggestion: 'error icon'\n      }];\n    }\n  }\n  \n  slides = slides.map((s, i) => ({\n    slideNumber: s.slideNumber !== undefined ? parseInt(s.slideNumber) : i,\n    title: (s.title || `Slide ${i+1}`).substring(0, 150),\n    body: (s.body || '').trim(),\n    image_suggestion: (s.image_suggestion || 'abstract').substring(0, 200)\n  }));\n  \n  if (slides.length === 0) throw new Error('No slides generated');\n  \n  console.log(`Parsed ${slides.length} slides for ${loopItem.module_title}`);\n  \n  return [{\n    json: {\n      module_title: loopItem.module_title,\n      module_number: loopItem.moduleNumber,\n      slides: slides,\n      metadata: {\n        slide_count: slides.length,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }];\n} catch (error) {\n  console.error('Parse error:', error.message);\n  const loopItem = $('Loop Modules').item.json;\n  return [{\n    json: {\n      module_title: loopItem.module_title,\n      slides: [{\n        slideNumber: 0,\n        title: 'Error',\n        body: error.message,\n        image_suggestion: 'error'\n      }],\n      metadata: { error: true, error_message: error.message }\n    }\n  }];\n}"
      },
      "id": "parse_output",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 300]
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "YOUR_TEMPLATE_FILE_ID",
          "mode": "id"
        },
        "name": "={{ $json.module_title }}"
      },
      "id": "copy_template",
      "name": "Copy Template",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-400, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const presentationId = $input.first().json.id;\nconst parsedData = $('Parse Output').first().json;\nconst slides = parsedData.slides;\n\nreturn slides.map(s => ({\n  json: {\n    slideNumber: s.slideNumber,\n    title: s.title,\n    body: s.body,\n    image_suggestion: s.image_suggestion,\n    presentationId: presentationId,\n    moduleTitle: parsedData.module_title\n  }\n}));"
      },
      "id": "merge_data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "jsCode": "const allSlides = $input.all();\nconst presentationId = allSlides[0].json.presentationId;\n\nlet requests = [];\n\nallSlides.forEach((item, idx) => {\n  const slide = item.json;\n  const slideNumber = slide.slideNumber;\n  const timestamp = Date.now() + idx;\n  \n  if (slideNumber === 0) {\n    requests.push(\n      { replaceAllText: { replaceText: slide.title, containsText: { text: \"{title}\", matchCase: false }}},\n      { replaceAllText: { replaceText: slide.body, containsText: { text: \"{body}\", matchCase: false }}}\n    );\n  } else {\n    const slideId = `slide_${slideNumber}_${timestamp}`;\n    const titleId = `title_${slideNumber}_${timestamp}`;\n    const bodyId = `body_${slideNumber}_${timestamp}`;\n    \n    requests.push(\n      {\n        createSlide: {\n          objectId: slideId,\n          insertionIndex: slideNumber,\n          slideLayoutReference: { predefinedLayout: \"TITLE_AND_BODY\" },\n          placeholderIdMappings: [\n            { layoutPlaceholder: { type: \"TITLE\" }, objectId: titleId },\n            { layoutPlaceholder: { type: \"BODY\" }, objectId: bodyId }\n          ]\n        }\n      },\n      { insertText: { objectId: titleId, text: slide.title }},\n      { insertText: { objectId: bodyId, text: slide.body }}\n    );\n  }\n});\n\nconsole.log(`Generated ${requests.length} requests`);\n\nreturn [{\n  json: {\n    body: { requests },\n    presentationId: presentationId\n  }\n}];"
      },
      "id": "batch_create",
      "name": "Batch Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://slides.googleapis.com/v1/presentations/{{ $json.presentationId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSlidesOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "slides_api",
      "name": "Slides API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [200, 300],
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "YOUR_SLIDES_CREDENTIAL_ID",
          "name": "Google Slides"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const presentationId = $('Batch Create').first().json.presentationId;\nconst url = `https://docs.google.com/presentation/d/${presentationId}/edit`;\nconsole.log(`Created: ${url}`);\nreturn [{ json: { presentationId, url, success: true } }];"
      },
      "id": "log_success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {},
      "id": "wait_node",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [600, 300],
      "webhookId": "wait-completion"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst success = items.filter(i => i.json.success).length;\nconst total = items.length;\n\nconst report = {\n  success: success === total,\n  total_modules: total,\n  successful: success,\n  failed: total - success,\n  message: `Completed: ${success}/${total} modules`,\n  presentations: items.map(i => ({\n    url: i.json.url,\n    status: i.json.success ? 'success' : 'failed'\n  }))\n};\n\nconsole.log('\\n=== FINAL REPORT ===');\nconsole.log(JSON.stringify(report, null, 2));\n\nreturn [{ json: report }];"
      },
      "id": "final_report",
      "name": "Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Form Upload": {
      "main": [[{ "node": "Parse Excel", "type": "main", "index": 0 }]]
    },
    "Parse Excel": {
      "main": [[{ "node": "Group Modules", "type": "main", "index": 0 }]]
    },
    "Group Modules": {
      "main": [[{ "node": "Loop Modules", "type": "main", "index": 0 }]]
    },
    "Loop Modules": {
      "main": [
        [{ "node": "Final Report", "type": "main", "index": 0 }],
        [{ "node": "Build Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Prompt": {
      "main": [[{ "node": "AI Generate Slides", "type": "main", "index": 0 }]]
    },
    "AI Generate Slides": {
      "main": [[{ "node": "Parse Output", "type": "main", "index": 0 }]]
    },
    "Gemini Model": {
      "ai_languageModel": [[{ "node": "AI Generate Slides", "type": "ai_languageModel", "index": 0 }]]
    },
    "Output Parser": {
      "ai_outputParser": [[{ "node": "AI Generate Slides", "type": "ai_outputParser", "index": 0 }]]
    },
    "Parse Output": {
      "main": [[{ "node": "Copy Template", "type": "main", "index": 0 }]]
    },
    "Copy Template": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]]
    },
    "Merge Data": {
      "main": [[{ "node": "Batch Create", "type": "main", "index": 0 }]]
    },
    "Batch Create": {
      "main": [[{ "node": "Slides API", "type": "main", "index": 0 }]]
    },
    "Slides API": {
      "main": [[{ "node": "Log Success", "type": "main", "index": 0 }]]
    },
    "Log Success": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]]
    },
    "Wait": {
      "main": [[{ "node": "Loop Modules", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "improved-v1"
}